[submodule "external/doctest"]
path = external/doctest
url = https://github.com/onqtam/doctest.git
[submodule "external/spdlog"]
path = external/spdlog
url = https://github.com/gabime/spdlog.git
branch = v1.x
[submodule "external/fmt"]
path = external/fmt
url = https://github.com/fmtlib/fmt.git
[submodule "external/fruit"]
path = external/fruit
url = https://github.com/google/fruit.git
[submodule "external/yaml"]
path = external/yaml
url = https://github.com/jbeder/yaml-cpp.git
